 * {
    margin: 0;
    padding: 0;
    border: 0;
 }
 
.table,  th {
    border: 2px solid black; 
    padding: 4px;
    
    
}

.table {
    margin-left: auto;
    margin-right: auto;
    
}

.table  td {
    border: 2px solid black; 
    text-align: center; 
}


.nav-style li {
   display: inline-block;
   padding: 10px;
   margin-left: 45px;
   background-image: url("../dia-4-html-semântico/fotos/black-cover.jpeg");
   color: white;
   font-weight: bold;
   width: 300px;
   border-radius: 15px  15px;
   box-shadow: px  black;
}

.nav-style li:hover {
    color: aqua;
}

.head-title {
    background-image: url("../dia-4-html-semântico/fotos/Head-cover.jpeg");
    text-align: center;
    padding-top: 75px;
    color: whitesmoke;
    height: 150px;
}

.head-section {
    text-align: center;
    padding: 15px;
}

.main-section {
    text-align: center;
    color: rgb(167, 64, 64);
    padding: 35px;
    line-height: 28px;
    
}

.article1 {
    text-align: center;
    padding: 10px;
}

.article2 {
    text-align: left;
    padding: 50px;
    width: 800px;
    background-color: orange;
    
}
 .images  {
   width: 350px;
   padding: 25px;
   border: 2px solid black;
   margin-top: 30px;
   margin-left: 14px;
 }

 .size {
    width: 310px;
 }


 .final-image {
    width: 350px;
    padding: 35px;
    margin-left: 250px;
    margin-top: 45px;
    border: 2px solid black;
 }

 .aside {
    position: absolute;
    background-color: orange;
    margin-left: 950px;
    top: 900px;
    height: 500px; 
    
 }