


body {
    background-color: aliceblue;
    font-size: 16px;
}

#lista {
    color: rgb(56, 134, 134);

}

#decor {
    text-decoration: underline;
    
}




.estilo1 {
    background-color: rgb(118, 196, 148);
    font-style: oblique;

}

#albuns {
    background-color: rgb(241, 226, 202);
}


#mudança-fonte {
    font-weight: 600;
}

h1 {
    font-size: 45px;
    color: orange; 
    font-family: monospace, sans-serif; 
}