/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    font-size: 15px;
    font-family: monospace;
    margin: 4%;
  }
  
  article {
   
  }
  
  h1 {
    font-size: 1em;
  }
  
  h2 {
  
  }
  
  img {
    max-width: 100%;
  }
  
  main {
   
  }
  
  section {
  
  }
  
  figure {
      margin: 0;
  }
  
  figcaption {
    font-size: .8em;
  }