* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}



.gallery-img {
    width: 200px;
}

.social-img {
    width: 25px;
}

.header-img {
    width: 70px;
    
}

.header {
    display: flex;
    justify-content: space-evenly;
    background-color:#323333;
    color: azure;
    align-items: center;
}

.text-top{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    
}