.central {
  text-align: center;
}

li:hover {
  background-color: aqua;
}

li:active {
  color: brown;
}

a {
  text-decoration: none;
}

.list {
  width: 200px;
  padding: 20px;
  border: 2px solid black;
  margin: 20px;
}
  
ol, ul {
  list-style: none;
}