

body {
  background-color: antiquewhite;
}


#title {
    text-align: center;
    color: grey;
    text-shadow: 5px 5px 5px rgb(83, 177, 206);
}

.style {
    box-shadow: 2px 2px 5px rgb(255, 255, 255);
    padding: 5px;
    margin-top: 10px; 
    opacity: 0.9;  
}

.fieldset {
    text-align: center;
    background-image: url(./gif/giphy.gif) ;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    
   
}

#legend {
    color: black;
    font-family: monospace;
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
    z-index: 1;
    background-color: white;
    border-radius: 10px;
    
}

#legend:hover {
    background-color: rgb(83, 177, 206) ;
}